.icon {
  margin-right: 5px; }

a:hover {
  background-color: transaparent; }

/*Plugin Styles*/
/* Product slider */
.item .thumb {
  width: 25%;
  cursor: pointer;
  float: left; }

.item .thumb img {
  width: 100%;
  margin: 2px; }

.item img {
  width: 100%; }

/* / Product slider */
.panel-success .panel-heading {
  background-color: #377522 !important;
  padding: 20px; }
  .panel-success .panel-heading h3 {
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-style: inherit;
    text-transform: inherit;
    text-align: center;
    line-height: normal; }
  .panel-success .panel-heading img {
    display: inline-block;
    margin-right: 9px;
    margin-top: -8px; }

.nav-pills > li + li {
  border-radius: 0px; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #377522;
  border-radius: 0px; }

.nav-justified > li > a {
  background-color: #2f2f2f;
  color: #ffffff;
  border-radius: 0; }
  .nav-justified > li > a:hover {
    background-color: #377522; }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 16px;
  font-style: normal;
  margin-left: 20px; }

/* enable absolute positioning */
.inner-addon {
  position: relative; }

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 17px;
  pointer-events: none;
  color: #cccccc; }

/* align glyph */
.left-addon .glyphicon {
  left: 0px; }

.right-addon .glyphicon {
  right: 0px; }

/* add padding  */
.left-addon input {
  padding-left: 30px; }

.right-addon input {
  padding-right: 30px; }

/* / Plugin Styles*/
/* placeholder style */
input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b3b3b3;
  font-style: italic; }

input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #b3b3b3;
  font-style: italic; }

input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #b3b3b3;
  font-style: italic; }

input:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #b3b3b3;
  font-style: italic; }

/* / placeholder style */
/* Global settings */
.shadow-bg:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -19px;
  z-index: -18;
  width: 100%;
  height: 61px;
  background-image: url(../images/shadow.png);
  background-repeat: no-repeat;
  background-size: cover; }

.text-transform-inherit {
  text-transform: inherit !important; }

.inline-block {
  display: inline-block; }

.width-inhrit {
  width: inherit !important; }

.slider-btn {
  background-color: transparent !important;
  border: 2px solid #2f2f2f !important;
  color: #2f2f2f;
  text-transform: uppercase;
  border-radius: 0 !important;
  padding: 10px 20px;
  margin-bottom: 20px; }

input:focus {
  outline: none; }

.f700 {
  font-weight: 700 !important; }

.page-link {
  border-bottom: 1px solid #ccc; }
  .page-link li {
    padding-bottom: 0 !important; }
    .page-link li a {
      background: transparent !important;
      color: #377522 !important; }
    .page-link li.active a {
      color: #377522;
      background-color: transparent;
      border-bottom: 1px solid #377522; }
    .page-link li a {
      color: #2f2f2f;
      font-size: 14px;
      font-weight: 400;
      font-style: inherit;
      text-transform: inherit;
      text-align: center;
      line-height: inherit; }

.feature-store-icon:before {
  font-size: 25px !important; }

a {
  text-decoration: none !important;
  color: #377522; }

textarea {
  resize: vertical; }

/* pagination */
.pagination-ul {
  padding: 0;
  float: right; }
  .pagination-ul li {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 900;
    font-style: inherit;
    text-transform: inherit;
    text-align: center;
    line-height: 17px;
    border: 3px solid #377522;
    color: #377522;
    display: inline-block;
    list-style: none;
    padding: 5px;
    width: 35px;
    height: 35px;
    margin: 0px 5px; }
    .pagination-ul li.inactive {
      border-color: #d9d9d9;
      color: #d9d9d9; }
    .pagination-ul li.active {
      background-color: #377522;
      color: #ffffff; }

.orange-bg {
  background-color: #f7814d !important; }

.blue-bg {
  background-color: #2b79d2 !important; }

.orange {
  color: #f7814d !important; }

.blue {
  color: #2b79d2 !important; }

.blue-border {
  border-color: #2b79d2 !important; }

.search-input {
  padding-left: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.search-btn {
  padding: 9px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -3px;
  width: 48px; }

.search-input {
  padding-left: 15px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.search-btn {
  padding: 9px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin-left: -3px;
  width: 48px; }

/*Raddio button style*/
.radio-con .radio2 {
  margin: 0.5rem;
  display: inline-block; }
.radio-con .radio2 input[type="radio"] {
  position: absolute;
  opacity: 0; }
.radio-con .radio2 input[type="radio"] + .radio-label:before {
  content: '';
  background: transparent;
  border-radius: 100%;
  border: 1px solid #377522;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease; }
.radio-con .radio2 input[type="radio"]:checked + .radio-label:before {
  background-color: #377522;
  box-shadow: inset 0 0 0 4px #f4f4f4; }
.radio-con .radio2 input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #377522; }
.radio-con .radio2 input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #377522;
  background: #377522; }
.radio-con .radio2 input[type="radio"] + .radio-label:empty:before {
  margin-right: 0; }

select {
  color: #b3b3b3 !important; }

.fancy-title {
  font-family: 'Pacifico', cursive;
  margin: 0 !important; }

.page-caption h1 {
  color: #2f2f2f;
  font-size: 25px;
  font-weight: 400;
  font-style: inherit;
  text-transform: uppercase;
  text-align: center;
  line-height: normal; }
  .page-caption h1:before {
    content: '';
    display: inline-block;
    position: relative;
    background-image: url("../images/hLeftticonG.png");
    width: 56px;
    height: 14px;
    margin-right: 10px;
    margin-bottom: 2px; }
  .page-caption h1:after {
    content: '';
    display: inline-block;
    position: relative;
    background-image: url("../images/rightg.png");
    width: 56px;
    height: 14px;
    margin-left: 10px;
    margin-bottom: 2px; }

.white-bg-2 {
  background-color: #ffffff !important; }

.white-bg {
  background-color: #ffffff !important; }

.grey-bg {
  background-color: #f4f4f4 !important;
  padding-bottom: 7px !important; }

.grey-text {
  color: #7e7e7e !important; }

.grey {
  color: #cccccc !important; }

.transitions, .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .nav-justified > li > a, .nav-justified > li > a:hover, .btn-d, .btn-d.btn-d-hover, .btn-d:hover, .btn-d-b, .btn-d-b.btn-d-hover, .btn-d-b:hover, .bgBannerFluid .confLinkCol ul .dropdown-menu li:hover, .post-item-fluid .nav-pills > li.active > a, .post-item-fluid .nav-pills > li.active > a:focus, .post-item-fluid .nav-pills > li.active > a:hover, .market-selection-fluid .market-selection-con .transparent-sidebar ul li, .market-selection-fluid .market-selection-con .transparent-sidebar ul li:hover, .open-bid-row .thumb:hover .hover-div, .open-bid-row .hover-div, .links-wrapper li, .links-wrapper li.active, .links-wrapper li:hover {
  transition: all ease-in-out .3s;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s; }

.btn-d {
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-style: initial;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  background-color: transparent;
  padding: 12px 25px !important;
  border: 0 !important;
  width: auto !important;
  border-radius: 4px !important;
  margin: 20px auto; }

.btn-d-b {
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-style: initial;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  background-color: transparent;
  padding: 12px 25px !important;
  border: 0 !important;
  width: auto !important;
  border-radius: 4px !important;
  margin: 20px auto; }
  .btn-d-b.btn-d-hover, .btn-d-b:hover {
    background-color: #2f2f2f; }
  .btn-d-b.btn-d-g {
    background-color: #377522; }

.shadow {
  box-shadow: 0px 0px 4px #cccccc; }

.large-shadow {
  box-shadow: 0px 0px 45px #cccccc; }

.green-b, .btn-d.btn-d-hover, .btn-d:hover {
  background-color: #377522; }

.green-b2 {
  background-color: #285619;
  color: #ffffff !important; }

.black-b {
  background-color: #2f2f2f !important;
  color: #ffffff; }

.black-g {
  background-color: #377522; }
  .black-g:hover {
    background-color: #2f2f2f; }

.b {
  border: 0; }

.flex {
  display: flex; }

.t-flex {
  display: flex !important; }

.margin-auto {
  margin: auto !important; }

.green {
  color: #aac19b; }

.green-text {
  color: #377522 !important; }

.green-bg {
  background-color: #97b97c; }

.white, .btn-d.btn-d-hover, .btn-d:hover, .btn-d-b.btn-d-hover, .btn-d-b:hover, .bgBannerFluid .confLinkCol ul li, .bgBannerFluid .confLinkCol ul li i:before {
  color: #ffffff !important; }

.black {
  color: #2f2f2f; }

.posCode {
  position: relative;
  height: 100%; }

.f12 {
  font-size: 12px !important; }

.f14 {
  font-size: 14px !important; }

.f16 {
  font-size: 16px !important; }

.lh-22 {
  line-height: 22px !important; }

.m0 {
  margin: 0; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-t-0 {
  margin-top: 0px !important; }

.m-b-50 {
  margin-bottom: 50px !important; }

.mt-5 {
  margin-top: 5px !important; }

.m5 {
  margin: 5px auto; }

.m10 {
  margin: 10px auto; }

.m20 {
  margin: 20px auto; }

.m30 {
  margin: 30px auto; }

.m35 {
  margin: 35px auto; }

.m50 {
  margin: 50px auto !important; }

.ml-15 {
  margin-left: 15px; }

.yesorno {
  padding-left: 10px !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p15-0 {
  padding: 15px 0px; }

.p15-35 {
  padding: 15px 35px; }

.p35-15 {
  padding: 35px 15px; }

.p0 {
  padding: 0 !important; }

.p5 {
  padding: 5px; }

.p0-15 {
  padding: 0px 15px !important; }

.p5-15 {
  padding: 5px 15px; }

.p10 {
  padding: 10px; }

.p20-15 {
  padding: 20px 15px !important; }

.p15, .fourpointsFluid .iconRow .col-md-12 .icon, .bgBannerFluid .confLinkCol ul {
  padding: 15px; }

.p35 {
  padding: 35px; }

.p65 {
  padding: 65px; }

.pb15 {
  padding-bottom: 15px !important; }

.pb0 {
  padding-bottom: 0 !important; }

.w80 {
  width: 80%; }

.w100 {
  width: 100% !important; }

.w80 {
  min-width: 80% !important; }

.border-0 {
  border: 0 !important; }

.border1 {
  border: 1px solid #e4e4e4; }

.border-b {
  border-bottom: 1px solid #e4e4e4; }

.border-radius-0 {
  border-radius: 0 !important; }

.input-radius {
  border-radius: 100px; }

.description {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
  font-style: inherit;
  text-transform: inherit;
  text-align: left !important;
  line-height: normal; }

.smallDesc {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
  font-style: inherit;
  text-transform: inherit;
  text-align: center !important;
  line-height: normal;
  min-height: 40px; }

.or-circle {
  width: 50px;
  height: 50px;
  border: 3px solid #377522;
  border-radius: 50%;
  text-align: center;
  padding: 12px !important;
  font-weight: 700;
  color: #377522; }

/* / Global settings */
.background-shadow:after {
  content: '';
  display: block;
  position: absolute;
  left: 5%;
  bottom: -18px;
  z-index: -9;
  width: 90%;
  height: 61px;
  background-image: url(../images/shadow.png);
  background-repeat: no-repeat;
  background-size: cover; }

.slash {
  color: #a2a2a2 !important;
  margin: 0 5px; }

.block {
  display: block;
  padding: 10px; }

.red {
  color: red; }

.bg-transparent {
  background-color: transparent !important; }

.text-center {
  text-align: center !important; }

.indexFluid {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  /*captionCon*/ }
  .indexFluid .captionCon {
    position: relative;
    top: 20%; }
    .indexFluid .captionCon .caption {
      width: 530px;
      padding: 13px;
      background-color: #fff;
      margin: 0;
      color: #2f2f2f;
      font-size: 25px;
      font-weight: 400;
      font-style: italic;
      text-transform: inherit;
      text-align: center;
      line-height: normal; }
      @media (max-width: 992px) {
        .indexFluid .captionCon .caption {
          width: 100%; } }
    .indexFluid .captionCon .tagline {
      width: 530px;
      padding: 13px;
      background-color: #2f2f2f;
      margin: 10px auto auto 110px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      font-style: inherit;
      text-transform: uppercase;
      text-align: center;
      line-height: normal; }
      .indexFluid .captionCon .tagline span {
        color: #8fa773; }
      @media (max-width: 992px) {
        .indexFluid .captionCon .tagline {
          width: 100%;
          margin: 10px auto auto 0; } }

/*indexFluid*/
.fourpointsFluid {
  padding: 0; }
  .fourpointsFluid .fourpointsCon .title {
    color: #2f2f2f;
    font-size: 18px;
    font-weight: 900;
    font-style: inherit;
    text-transform: inherit;
    text-align: center;
    line-height: normal;
    margin-bottom: 2px; }
  .fourpointsFluid .iconRow .col-md-12 {
    padding: 2px; }
    .fourpointsFluid .iconRow .col-md-12 .icon {
      background-color: #f5f5f5;
      text-align: center;
      width: 100%;
      display: block; }

.howWorksCon .title {
  color: #2f2f2f;
  font-size: 22px;
  font-weight: 900;
  font-style: inherit;
  text-transform: inherit;
  text-align: left;
  line-height: normal;
  margin-bottom: 10px; }
.howWorksCon .description {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
  font-style: inherit;
  text-transform: inherit;
  text-align: left;
  line-height: 22px; }
.howWorksCon li {
  list-style: decimal !important;
  line-height: 30px;
  font-weight: 900; }
.howWorksCon .posImg {
  position: relative;
  top: 90px; }

.howRelateFluid {
  background-color: #97b97c;
  background-size: cover;
  z-index: -9; }
  .howRelateFluid .howRelateCon .title {
    color: #aac19b;
    font-size: 22px;
    font-weight: 900;
    font-style: inherit;
    text-transform: inherit;
    text-align: left;
    line-height: normal; }
  .howRelateFluid .howRelateCon .sub-title {
    color: #aac19b;
    font-size: 16px;
    font-weight: 900;
    font-style: inherit;
    text-transform: inherit;
    text-align: center;
    line-height: normal; }
  .howRelateFluid .howRelateCon .description {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 400;
    font-style: inherit;
    text-transform: inherit;
    text-align: center;
    line-height: normal; }
  .howRelateFluid .howRelateCon .pb {
    padding-bottom: 25px;
    border-bottom: 1px solid #8aac6f; }
  .howRelateFluid .howRelateCon .col-md-4 .title {
    color: #aac19b;
    font-size: 14px;
    font-weight: 900;
    font-style: inherit;
    text-transform: inherit;
    text-align: center;
    line-height: normal; }
  .howRelateFluid .howRelateCon ul {
    padding-left: 12px;
    padding-bottom: 25px;
    border-bottom: 1px solid #8aac6f; }
    .howRelateFluid .howRelateCon ul li {
      list-style: decimal !important;
      line-height: 30px;
      color: #2f2f2f;
      font-size: 16px;
      font-weight: 900;
      font-style: inherit;
      text-transform: inherit;
      text-align: left;
      line-height: 35px; }
  .howRelateFluid .howRelateCon .big-tagline {
    color: #aac19b;
    font-size: 3.7em;
    font-weight: 900;
    font-style: inherit;
    text-transform: inherit;
    text-align: right;
    line-height: 79px;
    margin: 0; }
    .howRelateFluid .howRelateCon .big-tagline span {
      color: #4a6d2f; }
  .howRelateFluid .howRelateCon .thumb-line:after {
    content: '';
    display: block;
    position: relative;
    height: 100px;
    width: 4px;
    background-color: #ffffff;
    text-align: center;
    margin: auto;
    margin-top: -5px; }

.betterFluid {
  background-color: #2f2f2f;
  padding: 30px 15px; }
  .betterFluid h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
    font-style: inherit;
    text-transform: inherit;
    text-align: left;
    line-height: normal; }

/*Directbuy market page*/
.bgBannerFluid {
  position: relative;
  background-image: url("../images/titlebanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  padding: 0; }
  .bgBannerFluid h1 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    font-style: inherit;
    text-transform: uppercase;
    text-align: center;
    line-height: normal;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%); }
    .bgBannerFluid h1:before {
      content: '';
      display: inline-block;
      position: relative;
      background-image: url("../images/hLeftIcon.png");
      width: 56px;
      height: 14px;
      margin-right: 10px;
      margin-bottom: 2px; }
    .bgBannerFluid h1:after {
      content: '';
      display: inline-block;
      position: relative;
      background-image: url("../images/hRighticon2.png");
      width: 56px;
      height: 14px;
      margin-left: 10px;
      margin-bottom: 2px; }
  .bgBannerFluid .confLinkCol {
    padding: 0;
    position: absolute;
    bottom: 0; }
    .bgBannerFluid .confLinkCol button {
      background-color: transparent;
      border: 0;
      color: #ffffff; }
      .bgBannerFluid .confLinkCol button .flaticon-settings {
        margin-right: 7px; }
    .bgBannerFluid .confLinkCol ul {
      padding-right: 110px;
      width: auto;
      background-color: #2f2f2f;
      text-align: right;
      margin: 0;
      float: right;
      border-top-left-radius: 70px; }
      .bgBannerFluid .confLinkCol ul .dropdown-menu {
        width: 269px;
        padding: 0;
        text-align: center;
        right: 0;
        padding-right: 0;
        border-radius: 0;
        position: absolute;
        right: 0;
        left: -80px;
        top: 41px; }
        .bgBannerFluid .confLinkCol ul .dropdown-menu:before {
          content: '';
          display: none !important; }
        .bgBannerFluid .confLinkCol ul .dropdown-menu li {
          width: 100%;
          display: block;
          color: #ffffff !important;
          padding: 10px;
          margin: 0; }
          .bgBannerFluid .confLinkCol ul .dropdown-menu li:hover {
            background-color: #377522; }
          .bgBannerFluid .confLinkCol ul .dropdown-menu li a {
            background-color: transparent;
            color: #ffffff !important; }
      .bgBannerFluid .confLinkCol ul li {
        display: inline-block;
        padding-left: 7px;
        margin: auto 5px; }
        .bgBannerFluid .confLinkCol ul li i:before {
          margin-left: 0;
          margin-right: 10px; }
        .bgBannerFluid .confLinkCol ul li img {
          margin-right: 10px; }

.storesCon .stores-row {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 50px; }
  .storesCon .stores-row h2 {
    color: #377522;
    font-size: 20px;
    font-weight: 400;
    font-style: inherit;
    text-transform: initial;
    text-align: center;
    line-height: normal; }
  .storesCon .stores-row p {
    color: #2f2f2f;
    font-size: 13px;
    font-weight: 600;
    font-style: inherit;
    text-transform: initial;
    text-align: center;
    line-height: 22px; }
  .storesCon .stores-row .col-md-3 {
    margin: 1%;
    width: 22.33%;
    background-color: #ffffff;
    padding-bottom: 20px; }
    .storesCon .stores-row .col-md-3:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -18px;
      z-index: -9;
      width: 100%;
      height: 61px;
      background-image: url(../images/shadow.png);
      background-repeat: no-repeat;
      background-size: cover; }
    .storesCon .stores-row .col-md-3 .thumb {
      position: relative;
      border-bottom: 2px solid #377522; }
      .storesCon .stores-row .col-md-3 .thumb .title {
        position: absolute;
        width: auto;
        bottom: -18px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        text-overflow: ellipsis;
        margin-left: -10px; }
        .storesCon .stores-row .col-md-3 .thumb .title:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: -10px;
          width: 0;
          height: 0;
          border-bottom: 10px solid #2a591b;
          border-left: 10px solid transparent; }
        .storesCon .stores-row .col-md-3 .thumb .title h3 {
          color: #ffffff;
          font-size: 16px;
          font-weight: 600;
          font-style: inherit;
          text-transform: initial;
          text-align: center;
          line-height: normal;
          margin: 0;
          padding: 8px 20px;
          text-overflow: ellipsis; }
          .storesCon .stores-row .col-md-3 .thumb .title h3 span:before {
            margin-left: 0;
            margin-right: 10px; }
    .storesCon .stores-row .col-md-3 .rating span .fa-star {
      color: #fade1e;
      margin-right: 5px; }

.owl-carousel .owl-stage-outer {
  height: 270px !important; }

#feature-brands .black-b {
  padding: 8px 15px !important;
  margin: 0 auto;
  display: block; }
#feature-brands .feature-item:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -19px;
  z-index: -18;
  width: 100%;
  height: 61px;
  background-image: url(../images/shadow.png);
  background-repeat: no-repeat;
  background-size: cover; }
#feature-brands .feature-item .text-panel {
  padding: 20px 30px;
  background-color: #ffffff; }
#feature-brands .feature-item .product-thumb {
  border-bottom: 1px solid #377522; }

.trending-fluid {
  background-image: url("../images/trending-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0px; }
  .trending-fluid .trending-con .table-responsive {
    max-height: 250px; }
  .trending-fluid .trending-con .trendind-col {
    margin: 0 1%;
    width: 31.33%; }
    .trending-fluid .trending-con .trendind-col h3 {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      font-style: inherit;
      text-transform: initial;
      text-align: center;
      line-height: normal;
      margin: 0;
      padding: 15px; }
      .trending-fluid .trending-con .trendind-col h3 .icon {
        display: inline-block;
        margin-right: 10px; }
        .trending-fluid .trending-con .trendind-col h3 .icon img {
          margin-bottom: -4px; }
    .trending-fluid .trending-con .trendind-col .trending-body tr td {
      padding: 15px; }
      .trending-fluid .trending-con .trendind-col .trending-body tr td .percentage-change {
        font-size: 12px; }

/* / Directbuy market page*/
/*Create Store Page*/
.store-fluid {
  background-image: url(../images/left-flip.png), url(../images/right-flip.png);
  background-position: -370px 530px, 1090px 210px;
  background-repeat: no-repeat, no-repeat; }
  .store-fluid .pro-thumb {
    position: relative;
    width: 150px;
    height: 150px; }
    .store-fluid .pro-thumb .bootstrap-filestyle.input-group {
      position: absolute; }
      .store-fluid .pro-thumb .bootstrap-filestyle.input-group input {
        background-color: transparent;
        border: 0;
        color: #ffffff !important; }
      .store-fluid .pro-thumb .bootstrap-filestyle.input-group .icon-span-filestyle {
        color: #ffffff;
        margin-right: 15px; }
    .store-fluid .pro-thumb img {
      border-radius: 4px; }

/*Create Store Page*/
/* Post Item*/
.post-item-fluid {
  background-image: url(../images/cannabis.png);
  background-position: right 440px;
  background-repeat: no-repeat, no-repeat; }
  .post-item-fluid .nav-pills > li + li {
    border-radius: 0px; }
  .post-item-fluid .nav-pills > li.active > a, .post-item-fluid .nav-pills > li.active > a:focus, .post-item-fluid .nav-pills > li.active > a:hover {
    background-color: #377522;
    border-radius: 0px; }
  .post-item-fluid .test-result .bootstrap-filestyle.input-group {
    width: 100%; }

/* / Post Item*/
/*market selection page*/
.market-selection-fluid .market-selection-con .transparent-sidebar {
  background-color: rgba(255, 255, 255, 0.1); }
  .market-selection-fluid .market-selection-con .transparent-sidebar .see-all {
    display: inline-block;
    padding-left: 60px; }
    .market-selection-fluid .market-selection-con .transparent-sidebar .see-all li {
      display: inline-block;
      padding: 0; }
      .market-selection-fluid .market-selection-con .transparent-sidebar .see-all li a {
        color: #848484;
        font-size: 14px;
        font-weight: 400;
        font-style: inherit;
        text-transform: initial;
        text-align: right;
        line-height: normal; }
  .market-selection-fluid .market-selection-con .transparent-sidebar ul {
    margin: 0; }
    .market-selection-fluid .market-selection-con .transparent-sidebar ul li {
      padding: 25.8px 20px;
      font-size: 15px;
      border-bottom: 1px solid #545454; }
      .market-selection-fluid .market-selection-con .transparent-sidebar ul li:first-child, .market-selection-fluid .market-selection-con .transparent-sidebar ul li:last-child {
        border: 0; }
      .market-selection-fluid .market-selection-con .transparent-sidebar ul li:hover {
        background-color: rgba(255, 255, 255, 0.3); }
      .market-selection-fluid .market-selection-con .transparent-sidebar ul li .icon {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: -7px; }
        .market-selection-fluid .market-selection-con .transparent-sidebar ul li .icon:before {
          font-size: 25px;
          margin-left: 0; }
.market-selection-fluid .market-selection-con .transparent-content-area {
  margin-left: 3%;
  width: 72%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 37px 40px; }
  @media (max-width: 992px) {
    .market-selection-fluid .market-selection-con .transparent-content-area {
      width: auto;
      margin-left: 0 !important; } }
  .market-selection-fluid .market-selection-con .transparent-content-area h1 {
    color: #2f2f2f;
    font-size: 30px;
    font-weight: 400;
    font-style: inherit;
    text-transform: initial;
    text-align: center;
    line-height: normal;
    margin: 0;
    margin-bottom: 22px; }
    .market-selection-fluid .market-selection-con .transparent-content-area h1 span {
      font-size: 20px; }
  .market-selection-fluid .market-selection-con .transparent-content-area .items-col {
    margin: 2%;
    width: 21%; }
    .market-selection-fluid .market-selection-con .transparent-content-area .items-col .large-icon {
      text-align: center;
      border-radius: 4px;
      padding: 10px; }
      .market-selection-fluid .market-selection-con .transparent-content-area .items-col .large-icon .icon:before {
        color: #ffffff;
        font-size: 50px !important; }
    .market-selection-fluid .market-selection-con .transparent-content-area .items-col .title {
      color: #377522;
      font-size: 13px;
      font-weight: 700;
      font-style: inherit;
      text-transform: uppercase;
      text-align: center;
      line-height: normal;
      padding: 10px 0px; }

/* / market selection page*/
/*Store View page*/
.reccuring-modal .modal-header {
  padding: 0 !important; }
  .reccuring-modal .modal-header .panel {
    border: 0 !important; }
  .reccuring-modal .modal-header .panel-success .panel-heading {
    background-color: #377522 !important;
    padding: 20px; }
    .reccuring-modal .modal-header .panel-success .panel-heading h3 {
      margin: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      font-style: inherit;
      text-transform: inherit;
      text-align: center;
      line-height: normal; }
    .reccuring-modal .modal-header .panel-success .panel-heading img {
      display: inline-block;
      margin-right: 9px;
      margin-top: -8px; }
.reccuring-modal .modal-body li {
  border-radius: 0; }
.reccuring-modal .modal-body .nav-pills > li.active > a, .reccuring-modal .modal-body .nav-pills > li.active > a:focus, .reccuring-modal .modal-body .nav-pills > li.active > a:hover {
  background-color: #377522;
  color: #ffffff; }

.store-view-fluid {
  background-image: url("images/store-view.jpg");
  background-size: cover; }
  .store-view-fluid .store-view-con .store-thumb {
    width: 150px;
    height: 150px;
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #ffffff;
    box-shadow: 0px 6px 4px #7b7b7b; }
    .store-view-fluid .store-view-con .store-thumb img {
      width: 100%; }
  .store-view-fluid .store-view-con .store-details-row {
    border-left: 1px solid #e8e8e8; }
    .store-view-fluid .store-view-con .store-details-row li {
      color: #2f2f2f;
      font-size: 14px;
      font-weight: 900;
      font-style: inherit;
      text-transform: inherit;
      text-align: left;
      line-height: 28px;
      padding: 10px 0px;
      text-indent: -11px; }
      .store-view-fluid .store-view-con .store-details-row li .icon {
        margin-right: 7px; }
  .store-view-fluid .store-view-con .store-content-row {
    margin: 20px -15px; }
    .store-view-fluid .store-view-con .store-content-row .right-content .main-col {
      border-bottom: 1px solid #eaeaea;
      padding-bottom: 10px;
      margin-bottom: 15px; }
      .store-view-fluid .store-view-con .store-content-row .right-content .main-col .category-heading {
        color: #377522;
        font-size: 18px;
        font-weight: 400;
        font-style: inherit;
        text-transform: uppercase;
        text-align: left;
        line-height: 28px; }
        .store-view-fluid .store-view-con .store-content-row .right-content .main-col .category-heading .icon:before {
          font-size: 20px !important;
          margin-right: 7px; }
      .store-view-fluid .store-view-con .store-content-row .right-content .main-col .sort {
        border-bottom: 1px solid #cccccc !important;
        padding-left: 0;
        background-color: #ffffff !important; }
      .store-view-fluid .store-view-con .store-content-row .right-content .main-col .sort-2 {
        border-bottom: 1px solid #cccccc !important;
        padding-left: 0px;
        color: #ffffff !important; }
    .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col {
      margin: 1%;
      width: 23%; }
      .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col ul {
        padding: 0; }
        .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col ul .favourate {
          display: inline-block;
          margin: 10px; }
        .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col ul .price-offer {
          display: inline-block;
          margin: 10px;
          margin-left: 0px;
          margin-right: 0;
          font-size: 13px; }
          .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col ul .price-offer .price {
            color: #377522;
            font-size: 13px;
            font-weight: 600;
            font-style: inherit;
            text-transform: inherit;
            text-align: left;
            line-height: 28px; }
      .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col .item-thumb {
        max-height: 150px;
        min-height: 150px !important;
        overflow: hidden;
       }
       .item-thumb img{
         height: 150px;
       }
      .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col .item-details li {
        color: #2f2f2f;
        font-size: 14px;
        font-weight: 400;
        font-style: inherit;
        text-transform: inherit;
        text-align: left;
        line-height: 28px;
        display: inline-block;
        width: 100%;
        margin: 5px auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col .description {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 7px; }
      .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col .reccuring-purchase {
        text-align: center; }
        .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col .reccuring-purchase img {
          margin-right: 7px; }
      .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col .btn-wrapper .btn-d {
        padding: 12px 15px !important;
        font-size: 14px;
        display: block; }
      .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col .btn-wrapper img {
        display: inline-block;
        margin-left: 6px;
        text-shadow: 0 0 black;
        margin-top: -8px; }
      .store-view-fluid .store-view-con .store-content-row .right-content .items-row .item-col .btn-wrapper .icon:before {
        margin-left: 6px; }
  .store-view-fluid .pagination-ul {
    padding: 0;
    float: right; }
    .store-view-fluid .pagination-ul li {
      color: #2f2f2f;
      font-size: 16px;
      font-weight: 900;
      font-style: inherit;
      text-transform: inherit;
      text-align: center;
      line-height: 17px;
      border: 3px solid #377522;
      color: #377522;
      display: inline-block;
      list-style: none;
      padding: 5px;
      min-width: 35px;
      height: 35px;
      margin: 0px 5px; }
      .store-view-fluid .pagination-ul li.inactive {
        border-color: #d9d9d9;
        color: #d9d9d9; }
      .store-view-fluid .pagination-ul li.active {
        background-color: #377522;
        color: #ffffff; }

/* / Store View page*/
/*Membership page*/
.membership-con {
  padding: 0px 35px; }
  .membership-con .table-responsive {
    overflow: initial !important; }
  .membership-con tr, .membership-con th {
    text-align: center; }
  .membership-con td {
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 400;
    font-style: inherit;
    text-transform: inherit;
    text-align: left;
    line-height: inherit;
    padding: 25px 15px !important;
    max-width: 40px !important;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5; }
    .membership-con td.icon {
      position: relative;
      text-align: center;
      padding-top: 40px !important; }
      .membership-con td.icon.blue .fa {
        color: #2b79d2; }
      .membership-con td.icon.orange .fa {
        color: #f7814d; }
      .membership-con td.icon.green .fa {
        color: #9ad572; }
      .membership-con td.icon .fa-times {
        color: #bebebe; }
  .membership-con .plan-feature {
    padding: 70px 0px; }
    .membership-con .plan-feature .t-super-main-heading {
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
      font-style: inherit;
      text-transform: inherit;
      text-align: center;
      line-height: inherit;
      padding: 0; }
  .membership-con .plan-headings {
    background: #2b79d2;
    padding: 20px 0px; }
    .membership-con .plan-headings .t-main-heading {
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      font-style: inherit;
      text-transform: inherit;
      text-align: center;
      line-height: inherit; }
  .membership-con .plan-price {
    background-color: #2067b7;
    padding: 12px;
    /*box-shadow: 0px 0px 20px #454545;*/
    width: 93%;
    margin: 10px  auto 10px 16px; }
    .membership-con .plan-price h3 {
      color: #ffffff;
      font-size: 40px;
      font-weight: 400;
      font-style: inherit;
      text-transform: inherit;
      text-align: center;
      line-height: inherit;
      margin: 0px; }
      .membership-con .plan-price h3 span {
        font-size: 20px; }
  .membership-con .members-col {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-style: inherit;
    text-transform: inherit;
    text-align: center;
    line-height: inherit; }
  .membership-con .shadow-btn {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3f9a20;
    padding: 10px 25px !important;
    border-radius: 0 !important; }

/* / Membership page*/
/*Open bid page*/
.open-bid-row .customized {
  margin-top: 25px;
  margin-bottom: 0; }
.open-bid-row .thumb:hover .hover-div {
  opacity: 1;
  z-index: 999; }
.open-bid-row .hover-div {
  width: 300%;
  padding: 7px;
  position: absolute;
  z-index: -999;
  right: -180%;
  top: -10px;
  opacity: 0; }
.open-bid-row .buy-text {
  font-size: 16px;
  text-align: center; }
.open-bid-row .thumb {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #f7814d;
  margin: auto;
  margin-top: 4px; }
.open-bid-row .open-bid-item {
  margin: 15px auto; }
  .open-bid-row .open-bid-item input::-webkit-input-placeholder, .open-bid-row .open-bid-item select::-webkit-input-placeholder, .open-bid-row .open-bid-item textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b3b3b3;
    font-style: italic;
    font-size: 10px; }
  .open-bid-row .open-bid-item input::-moz-placeholder, .open-bid-row .open-bid-item select::-moz-placeholder, .open-bid-row .open-bid-item textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #b3b3b3;
    font-style: italic;
    font-size: 10px; }
  .open-bid-row .open-bid-item input:-ms-input-placeholder, .open-bid-row .open-bid-item select:-ms-input-placeholder, .open-bid-row .open-bid-item textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #b3b3b3;
    font-style: italic;
    font-size: 10px; }
  .open-bid-row .open-bid-item input:-moz-placeholder, .open-bid-row .open-bid-item select:-moz-placeholder, .open-bid-row .open-bid-item textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #b3b3b3;
    font-style: italic;
    font-size: 10px; }
  .open-bid-row .open-bid-item input {
    /* padding-left: 4px;
     margin-left: 4px;*/
    width: 32%;
    margin-left: 1%; }
  .open-bid-row .open-bid-item .rating-stars {
    margin-left: 5px;
    display: inline-block; }
    .open-bid-row .open-bid-item .rating-stars .fa-star, .open-bid-row .open-bid-item .rating-stars .fa-star-half-o {
      color: #ef9c00; }
.open-bid-row .orange-available {
  background-color: #eb6023;
  color: #ffffff;
  font-weight: 900;
  padding: 7px;
  border-bottom-left-radius: 20px;
  position: absolute;
  right: -134px;
  top: -5px;
  width: 120px;
  text-align: center; }
.open-bid-row .sky-blue {
  background-color: #76b4fa;
  color: #ffffff;
  font-weight: 900;
  padding: 7px;
  border-bottom-left-radius: 20px;
  position: absolute;
  right: -134px;
  top: -5px;
  width: 120px;
  text-align: center; }
.open-bid-row .light-orange {
  background-color: #ff836e;
  color: #ffffff;
  font-weight: 900;
  padding: 7px;
  border-bottom-left-radius: 20px;
  position: absolute;
  right: -134px;
  top: -5px;
  width: 120px;
  text-align: center; }
.open-bid-row .primary-blue {
  background-color: #2381eb;
  color: #ffffff;
  font-weight: 900;
  padding: 7px;
  border-bottom-left-radius: 20px;
  position: absolute;
  right: -134px;
  top: -5px;
  width: 120px;
  text-align: center; }

/* / Open bid page*/
/*Dashboard*/
.dashboard-con .nav-justified li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-style: inherit;
  text-transform: uppercase;
  text-align: center;
  line-height: inherit; }
.dashboard-con .main-tab-content .tab-pane .sub-link li {
  padding: 10px 20px; }
  .dashboard-con .main-tab-content .tab-pane .sub-link li.active {
    border-bottom: 3px solid #ffffff; }
  .dashboard-con .main-tab-content .tab-pane .sub-link li a:hover {
    background-color: transparent; }
.dashboard-con .main-tab-content .tab-pane .sub-tab-content .buyer {
  padding: 20px 40px; }
  .dashboard-con .main-tab-content .tab-pane .sub-tab-content .buyer h3 {
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 400;
    font-style: inherit;
    text-transform: uppercase;
    text-align: center;
    line-height: inherit; }
  .dashboard-con .main-tab-content .tab-pane .sub-tab-content .buyer .super-sub-link {
    border-bottom: 1px solid #ccc; }
    .dashboard-con .main-tab-content .tab-pane .sub-tab-content .buyer .super-sub-link li.active a {
      color: #377522;
      background-color: transparent;
      border-bottom: 1px solid #377522; }
    .dashboard-con .main-tab-content .tab-pane .sub-tab-content .buyer .super-sub-link li a {
      color: #2f2f2f;
      font-size: 14px;
      font-weight: 400;
      font-style: inherit;
      text-transform: inherit;
      text-align: center;
      line-height: inherit; }
.dashboard-con .main-tab-content .tab-pane .sub-tab-content .super-tab-content .product-thumb {
  border: 1px solid #cccccc;
  max-height: 177px;
  overflow: hidden;
  min-width: 177px; }
.dashboard-con .main-tab-content .tab-pane .sub-tab-content .super-tab-content .item-col {
  padding: 15px; }
  .dashboard-con .main-tab-content .tab-pane .sub-tab-content .super-tab-content .item-col .btn-d-b {
    padding: 8px 15px !important;
    border-radius: 0 !important;
    text-transform: inherit; }
  .dashboard-con .main-tab-content .tab-pane .sub-tab-content .super-tab-content .item-col .item {
    padding: 8px 0px; }

/*Profile*/
.links-wrapper li.active, .links-wrapper li:hover {
  background-color: #377522; }
  .links-wrapper li.active a, .links-wrapper li:hover a {
    color: #ffffff; }

.notifications .table td {
  text-align: left;
  vertical-align: middle !important; }

/* / Profile*/
/* / Dashboard*/
/* Business pools */
.business-pool-con .feed-col {
  background: #ffffff;
  padding: 20px 30px;
  border-bottom: 4px solid #badfa6;
  box-shadow: 0px 0px 12px rgba(199, 199, 199, 0.58);
  margin: 10px 0; }

/* Business pools */
/* market research */
.market-research-con .width-cus {
  width: 48%;
  margin: 1%; }

/* / market research */
/*Product View Page*/
.seller-per-ul li .inline-block {
  vertical-align: middle; }

/* / Product View Page*/
/* Media Query */
@media (max-width: 767px) {
  .flex {
    display: block !important; } }
@media (min-width: 767px) {
  .modal-dialog {
    width: 70% !important;
    margin: 30px auto; } }

/*# sourceMappingURL=mystyle.css.map */

/*After development*/

.mb-5{
  margin-bottom: 5px;
}

.mb-25{
  margin-bottom: 25px !important;
}
.min-h-690{
  height: 690px !important;
}
.new-link-style .super-sub-link li{
  width: 33%;
}
.new-link-style .super-sub-link li.active a{
  color: #377522;
  background-color: transparent;
  border-bottom: 2px solid #377522;
  min-height: 105px;
}
.new-link-style .super-sub-link li a{
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 400;
  font-style: inherit;
  text-transform: inherit;
  text-align: center;
  line-height: inherit;
  border: 1px solid transparent;
  min-height: 105px;
}

.cus-table{
  max-height: 462px;
}
.cus-table td,.cus-table th{
  padding: 15px !important;
  text-align: center;
  vertical-align: middle !important;
}

/*On and Off button*/
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 21px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #377522;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.market-research-con .icon:before{
  font-size: 24px !important;
}
.mt-30{
  margin-top: 30px;
}

/* \ 2/05/2019*/
.des-box {
  border-radius: 20px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 5px 70.47px 10.53px rgba(230, 230, 230, 0.61);
      padding: 20px;
      min-height: 280px;
      text-align: center;
}
.des-box.text-left{
  text-align:left !important;
}
.mt-20{
  margin-top: 20px;
}
.dis-section {
    margin-top: 40px;
    margin-bottom: 40px;
}
.des-box img {
    margin: auto;
    padding: 20px;
}
.des-box h4 {
    color: #3c582c;
    font-size: 17px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 22px;
}
.min-img {
    min-height: 150px;
}
.des-box h5 {
    font-size: 14px;
    color: #3c582c;
    line-height: 22px;
    font-weight: 800;
    text-transform: uppercase;
    /* padding-top: 10px; */
}
.last-text h3 {
    font-size: 50px;
    text-transform: uppercase;
    padding-left: 15px;
    padding-top: 50px;
}
.mt-20 {
    margin-top: 20px;
}
