/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  max-height: 390px;
  float: left;
  width: 100%;
  border: 0;
  }
  
  .callbacks_nav {
   position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 152px;
  left: -20px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 42px;
  width: 27px;
  background: transparent url("../images/themes.gif") no-repeat left top;
  margin-top: -44px;
  background-position: -6px -9px;
}

.callbacks_nav.next {
  left: auto;
  background-position:-42px -10px;
  right: -20px;
}
