 {include file="common/header-1.tpl" nocache}
<!-- Page Content -->
<div class="container-fluid indexFluid">
    <!-- Caption and tagline -->
    <div class="container captionCon">
        <h1 class="caption">A better wholesale<b> cannabis marketplace</b></h1>
        <p class="tagline">Better information + better execution = <span> Better performance</span> </p>
    </div>
    <!-- Caption and tagline -->
</div>
<div class="container-fluid fourpointsFluid">
    <div class="fourpointsCon">
        <div class="row">
            <div class="col-md-3">
                <h3 class="title">Growers</h3>
                <p class="smallDesc">Better pricing, Better customer base. Better partners</p>
                <!-- <div class="row iconRow">
                        <div class="col-md-12">
                            <i class="icon">
                                <img src="images/moon.png" class="img-responsive margin-auto" alt="">
                            </i>
                        </div>
                    </div> -->
            </div>
            <div class="col-md-3">
                <h3 class="title">Producers</h3>
                <p class="smallDesc">Buy/Sell, Better customer/ supplier base,Connect better</p>
                <!-- <div class="row iconRow">
                        <div class="col-md-12">
                            <i class="icon">
                                <img src="images/umbrella.png" class="img-responsive margin-auto" alt="">
                            </i>
                        </div>
                    </div> -->
            </div>
            <div class="col-md-3">
                <h3 class="title">Dispensaries</h3>
                <p class="smallDesc">Better pricing, Better supplier base. Better partners</p>
                <!-- <div class="row iconRow">
                        <div class="col-md-12">
                            <i class="icon">
                                <img src="images/anchor.png" class="img-responsive margin-auto" alt="">
                            </i>
                        </div>
                    </div> -->
            </div>
            <div class="col-md-3">
                <h3 class="title">Suppliers</h3>
                <p class="smallDesc">Better market, Better customer base. Connect better</p>
                <!-- <div class="row iconRow">
                        <div class="col-md-12">
                            <i class="icon">
                                <img src="images/bag.png" class="img-responsive margin-auto" alt="">
                            </i>
                        </div>
                    </div> -->
            </div>
        </div>
    </div>
</div>
<div class="container howWorksCon m50">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="images/howworks.png" alt="">
        </div>
        <div class="col-md-offset-1 col-md-6">
            <h2 class="title">How it works</h2>
            <p class="description">
                The Herbal Electronic Exchange makes accessing the cannabis wholesale market simple and efficient for licensed operators and accessory suppliers. We take the hassle out of the cannabis supply chain. No more playing phone tag, wondering about product quality, or sourcing products to stock your shelves. With Herbee, the access to the cannabis wholesale marketplace in your state is just a click away!
                <br>
                <br> As a new Herbee member you can:
                <ol>
                    <li>Start buying/selling in the open market at your price </li>
                    <li>Start buying/selling direct from every Herbee member in your state </li>
                    <li>Gain access to local market data relevant to your business</li>
                    <li>Start building relationships with companies able to help you grow your operations</li>
                </ol>
                Don't worry, if anything goes wrong, our helpful staff will work with you to solve any issues. Also, there are plenty of tutorials that will help you operate the system.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="title">How you join</h2>
            <p class="description">
                We have designed plans for licensed cannabis businesses of all sizes and expertise in the industry. Click [here] to see a comparison chart of the plans. Once you've found a plan that works for your business, simply click the plan and complete your application. Don't worry, we encrypt all of our data for your safety.
                <br>
                <br> Within 48 hours you will receive a response from Herbee regarding your application. Upon approval, you will be able to access the system and create your profile. As a Herbee member you will be able to buy and sell at the best prices, better stock your shelves with the best products available, make informed decisions with wholesale market research based on your market, and build relationships to further benefit your business.
            </p>
        </div>
        <div class="col-md-offset-1 col-md-4">
            <img class="img-responsive posImg" src="images/howjoin.png" alt="">
        </div>
    </div>
</div>
<div class="container-fluid howRelateFluid">
    <div class="container howRelateCon">
        <div class="row white">
            <div class="col-md-12 p35" style="padding-bottom:0;">
                <!-- <img class="img-responsive" src="images/relate.png"  alt=""> -->
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title white">How you relate</h2>
                        <p class="description white">
                            In business, relationships are everything. Herbee allows its members to access a platform designed to assist in identifying, targeting and launching great relationships. To accomplish this, Herbee offers three excellent ways of directly reaching potential partners:
                            <br>
                            <br>
                            <br>
                            <br>
                            <!-- <ul class="m30">
                                                <li class="white">Direct Inquiry</li>
                                                <li class="white">Advertising to Decision Makers</li>
                                                <li class="white">Forward Contracting</li>
                                            </ul> -->
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="sub-title text-center white"><b>1. Direct Inquiry</b></h4>
                        <img src="images/direct.png" class="img-responsive margin-auto m35" alt="">
                        <!-- <img src="images/inquiry.png" class="img-responsive margin-auto" alt=""> -->
                        <p class="description white">
                            Using direct-inquiry, Herbee members can send 140-character messages to a group of operators in the network. If an operator is interested in your outreach, then Herbee will facilitate the introduction.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="title text-center sub-title white"><b>2. Advertising to Decision Makers</b></h4>
                        <img src="images/advertise-white.png" class="img-responsive margin-auto m35" alt="">
                        <!-- <img src="images/advertise.png" class="img-responsive margin-auto" alt=""> -->
                        <p class="description  white">
                            We all know advertising is challenging in the cannabis marketplace. With Herbee, you will able to design and launch advertising campaigns that appear on the platform in the locations and with the frequency you decide. This way you are advertising directly to buyers of your product, making your marketing dollar more efficient.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4 class="title text-center sub-title white"><b>3. Forward Contracting</b></h4>
                        <img src="images/handshake.png" class="img-responsive margin-auto m35" alt="">
                        <!-- <img src="images/forward.png" class="img-responsive margin-auto" alt=""> -->
                        <p class="description pb border-0  white">
                            Do you really like the product of a particular cultivator or product maker and want to regularly feature the product on your shelf? With Herbee, dispensaries are able to set up standard repeatable supply relationships with product makers and cultivators. This way, members receive product when they want it, with the frequency they want it, and at the price they want it. Herbee makes the cannabis supply chain better! <a href="#"><b class="white">Click Here</b></a> to see videos and tutorials on our platform.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 m35">
                        <h1 class="white text-right big-tagline"><span>Why wait?</span>
            Join Today and Get started!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid betterFluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-5">
                <h1>A better cannabis wholesale marketplace</h1>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- / Page Content -->
{include file="common/footer-1.tpl" nocache}
